{% extends "LinForumBundle::layout.html.twig" %}

{% block body -%}
<div class="container-fluid">
  <div class="row-fluid">
     <div class="span2"></div>
     <div class="span8">
        <h3>Post list</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Title</th>
                    <th>Image</th>
                    <th>Content</th>
                    <th>Created_at</th>
                    <th>Updated_at</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td>{{ entity.name }}</td>
                    <td>{{ entity.title }}</td>
                    <td><img src="{{ app.request.getBaseURL() }}/uploads/{{ entity.path }}" alt="Smiley face" height="70" width="70"></td>
                    <td>{{ entity.content }}</td>
                    <td>{% if entity.createdat %}{{ entity.createdat|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>{% if entity.updatedat %}{{ entity.updatedat|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('post_show', { 'id': entity.id }) }}">show</a>
                            </li>
                            <li>
                                <a href="{{ path('post_edit', { 'id': entity.id }) }}">edit</a>
                            </li>
                        </ul>
                    </td>
                    </tr>
            {% endfor %}
            </tbody>
        </table>
            <ul>
               <li>
                  <a href="{{ path('post_new') }}"> Create a new entry </a>
                </li>
            </ul>
        </div>
        <div class="span2"></div>
    </div>
</div>
{% endblock %}