{% extends "LinForumBundle::layout.html.twig" %}

{% block body -%}
<div class="container-fluid">
<div class="row-fluid">
     <div class="span2"></div>
     <div class="span8">
        {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
          <fieldset>
            <div id="legend" class="">
              <legend class="">Post form</legend>
            </div>  
          <div class="control-group">

                <!-- Text input-->
                <label class="control-label" for="input01">Name</label>
                <div class="controls">
                  {{ form_widget(form.name) }}
                </div>
              </div>

          <div class="control-group">

                <!-- Text input-->
                <label class="control-label" for="input01">Title</label>
                <div class="controls">
                  {{ form_widget(form.title) }}
                </div>
              </div>

          <div class="control-group">
                <label class="control-label">Image</label>
                <!-- File Upload -->
                <div class="controls">
                  {{ form_widget(form.file) }}
                </div>
              </div>

          <div class="control-group">

                <!-- Textarea -->
                <label class="control-label">Content</label>
                <div class="controls">
                  <div class="textarea">
                        {{ form_widget(form.content) }}
                  </div>
                </div>
              </div>

          <div class="control-group">
                <label class="control-label">Button</label>

                <!-- Button -->
                <div class="controls">
                  {{ form_widget(form.submit, {'attr': {'class': 'btn btn-success'}}) }}
                </div>
              </div>

          </fieldset>
        {{ form_end(form) }}     
        <ul class="record_actions">
            <li>
                <a href="{{ path('post') }}">
                    Back to the list
                </a>
            </li>
        </ul>
      </div>
      </div>
</div>
</div>
{% endblock %}
